@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@import "@nuxt/ui";

/*Hornbill Font Faces*/
@font-face {
  font-family: 'Hornbill';
  src: url('~/assets/fonts/HornbillTrial-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap; 
}

@font-face {
  font-family: 'Hornbill';
  src: url('~/assets/fonts/HornbillTrial-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hornbill';
  src: url('~/assets/fonts/HornbillTrial-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hornbill';
  src: url('~/assets/fonts/HornbillTrial-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap; 
}

@font-face {
  font-family: 'Hornbill';
  src: url('~/assets/fonts/HornbillTrial-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Hornbill';
  src: url('~/assets/fonts/HornbillTrial-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap; 
}


@theme {
    --font-hornbill: 'Hornbill', sans-serif;
    --font-poppins: "Poppins", sans-serif; 
}

/* Utility classes so you can use the imported fonts easily in templates */
.font-poppins { font-family: var(--font-poppins) !important; }
.font-hornbill { font-family: var(--font-hornbill) !important; }


@theme static {
  /*Abide Color Palette*/

  /*Terracotta Rose / Warm Clay*/
  --color-brand1: #A26B61;

  /*Earthy Umber / Rustic Walnut*/
  --color-brand2: #6C5846;

  /*Blush Petal / Soft Rose Dust*/
  --color-brand3: #EDB2A4;

  /*Deep Teal / Forest Lake*/
  --color-brand4: #215443;

  /*Dusty Sage / Misty Seafoam*/
  --color-brand5: #5FA18B;

  /*Pale Mist / Soft Icy Blue*/
  --color-brand6: #D3E2E4;

  /*Rasberry*/
  --color-brand7: #a4123f;
}