@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom carousel dot styles */
.carousel__pagination-button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #d1d5db;
}

.carousel__pagination-button--active {
  background-color: #0d9488;
}

/* horizontal scrolling for event section */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}